@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

  .navbar {
    height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    padding-bottom: 2px;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'EB Garamond', serif;  
  }

  .navbar h1 {
    margin: 0;
  }
  
  .navbar a {
    margin-left: 16px;
    text-decoration: none;
    color:white;
    font-size: 1rem;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6); 
 
  }

  .navbar a:hover {
    text-decoration: underline !important;
    cursor: pointer;
    border-bottom: solid white;
  }

  .navbar .nav-link {
    color: white;
    font-size: 1rem;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
                inset -2px -2px 3px rgba(0, 0, 0, 0.6); 
  }
  

  /* .nav-link:hover{
    text-decoration: underline;
  }
  
.navbar .nav-link:hover {
    text-decoration: underline;
  } */

.background-container {
  border:solid 10px;
  margin-top:10vh;
  display: grid;
  padding: 20px;
  color: #232946;
  top: 50%;
  transform: translateY(+1%);
  background-color: #232946;
  /* background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  ); */
  box-shadow: 0px 0px 0.05px 0.05px #000612;
  border-radius: 20px;
  
}

.Stories_Page_Particles{
  position: absolute;
width: 100%;
height: 100%;
z-index: 1;
}

.story-card-container{
  position: relative;
  z-index: 5;
}

.Stories_Page_Name{
  text-align: center;
  padding-top: 2%;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
}

.Stories-Page-Pagination{
  display: flex;
  justify-content: center;
  padding: 2%;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 3;
  margin-bottom: 10px;
  color: tan;
  /* background-color: white; Change this to match your color scheme */
}



.Stories_Page_Search_Bar .inputBox {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 300px; 
  height: 40px; 
  /* bottom:20px; */
  border-radius: 5px;
  /* overflow: hidden; */
}

.Stories_Page_Search_Bar .inputBox:last-child {
  margin-bottom: 30px;
}

.Stories_Page_Search_Bar .inputBox input {
  box-sizing: border-box;
  position: relative;
  padding: 8px 10px;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 1.25em;
  letter-spacing: 0.05em;
  z-index: 2;
  bottom:15px;
  /* height: 50px; */
}

.Stories_Page_Search_Bar .inputBox span {
  position: absolute;
  left: 20px;
  padding: 10px 0;
  pointer-events: none;
  font-size: .85em; /* smaller font size */
  transform: translateY(-80px); /* move text above the line */
  transition: .5s;
  color: #fff; /* white color */
  letter-spacing: .05em;
}

.Stories_Page_Search_Bar .inputBox input:valid ~ span,
.Stories_Page_Search_Bar .inputBox input:focus ~ span {
  font-size: .85em;
  transform: translateY(-120px);
}

.Stories_Page_Search_Bar .inputBox i {
  position: absolute;
  bottom:0;
  top:20px;
  left:20px;
  width: 100%;
  height: 3px;
  background: linear-gradient(45deg, #d4939d, #232946);
  transition: .5s;
  z-index: 1;
  border-radius: 4px;
  pointer-events: none;
  margin-top: auto;
}

.Stories_Page_Search_Bar .inputBox input:valid ~ i,
.Stories_Page_Search_Bar .inputBox input:focus ~ i {
  height: 100%;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, .25);
}

.Stories_Page_Display_Stories{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .5rem;
  justify-content: center; 
  /* margin-right: 150px;
  margin-top: 100px;
  margin-bottom: 100px; */
  
}

@media (max-width: 600px) {
  .navbar a {
    float: none;
    width: 100%;
    margin: 0;
  }
  
  .Stories_Page_Display_Stories {
    grid-template-columns: repeat(2, 1fr);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .Stories_Page_Search_Bar input{
    width: 90%;
  }
}

/* Button.module.css */

/* Button.module.css */

.btn-6 {
  background: rgb(247, 150, 192);
  border-radius: 25px;
  background: radial-gradient(circle, rgba(247, 150, 192, 1) 0%, rgba(118, 174, 241, 1) 100%);
  line-height: 42px;
  padding: 0;
  border: none;
  position: relative; 
  color: #fff; 
  margin-top: 10px;
  margin-bottom:20px;
}

.btn-6 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

/* Rest of the styles remain the same */


.btn-6:before,
.btn-6:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 100%;
  box-shadow:
    -1px -1px 20px 0px rgba(255, 255, 255, 1),
    -4px -4px 5px 0px rgba(255, 255, 255, 1),
    7px 7px 20px 0px rgba(0, 0, 0, .4),
    4px 4px 5px 0px rgba(0, 0, 0, .3);
}

.btn-6:before {
  right: 0;
  top: 0;
  transition: all 500ms ease;
}

.btn-6:after {
  left: 0;
  bottom: 0;
  border-radius: 25px;
  transition: all 500ms ease;
}

.btn-6:hover {
  background: transparent;
  color: #76aef1;
  box-shadow: none;
}

.btn-6:hover:before {
  transition: all 500ms ease;
  height: 100%;
  border-radius: 25px;

}

.btn-6:hover:after {
  transition: all 500ms ease;
  height: 100%;
  border-radius: 25px;
}

.btn-6 span:before,
.btn-6 span:after {
  position: absolute;
  content: "";
  box-shadow:
    -1px -1px 20px 0px rgba(255, 255, 255, 1),
    -4px -4px 5px 0px rgba(255, 255, 255, 1),
    7px 7px 20px 0px rgba(0, 0, 0, .4),
    4px 4px 5px 0px rgba(0, 0, 0, .3);
}

.btn-6 span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: .5px;
  transition: all 500ms ease;
}

.btn-6 span:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: .5px;
  transition: all 500ms ease;
}

.btn-6 span:hover:before {
  width: 100%;
}

.btn-6 span:hover:after {
  width: 100%;
}


.particlebackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}