.capitalizeName {
    text-transform: capitalize;
}

.eventOuterContainer{
    overflow: clip;
} 

.eventContainer{
    background-color: black;
    display: grid;
    grid-template-columns: 67% auto;
}

.eventDisplayBox{
    background-color: aqua;
    display: grid;
    grid-template-rows: 50px auto 45px 170px;
    height: 92vh;
}

.eventTitle{
    background-color: #00000020;
    height: fit-content;
    text-align: center;
    font-size: 35px;
}

.eventChoiceBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.eventChoiceButton{
    min-width: 200px;
    max-width: 80%;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    white-space: normal;
    word-wrap: break-word;
}

.eventCharacter{
    background-color: burlywood;
    width: fit-content;
    font-size: 27px;
    font-weight: bold;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px 10px 0 0;
    user-select: none;
}

.eventDialogue{
    background-color: grey;
    display: flex;
    flex-direction: column-reverse;
    grid-row: 4;
    overflow-x: auto;
    -webkit-overflow-scrolling: auto;
    cursor: pointer;
}

.eventDialogueTop, .eventLogTop{
    margin-top: auto;
}

.eventDialogueText{
    margin: 15px;
    font-size: 23px;
    user-select: none;
}

.eventLogBox{
    background-color:indianred;
    display: grid;
    grid-template-rows: 45px auto 50px;
    height: 92vh;
}

.eventLogTitle{
    background-color: #00000020;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}

.eventLog{
    display: flex;
    flex-direction: column-reverse;
    margin: 5px;
    margin-right: 0;
    overflow-x: auto;
    -webkit-overflow-scrolling: auto;
}

.eventLogText{
    margin: 7px;
    margin-right: 10px;
}

.eventButtons{
    background-color: cadetblue;
    margin: 10px
}

.eventDialogue::-webkit-scrollbar, .eventLog::-webkit-scrollbar {
    height: 1rem;
  }

.eventDialogue::-webkit-scrollbar-track, .eventLog::-webkit-scrollbar-track {
    margin: 5px;
}

.eventDialogue::-webkit-scrollbar-thumb, .eventLog::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
}

@media only screen and (max-width: 700px) {
    .eventTitle{
        font-size: 7vw;
    }

    .eventContainer{
        display: grid;
        grid-template-columns: auto;
    }

    /* hides on smaller device */
    .eventLogBox{
        height: 35vh;
    }
  }