@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.google-btn {
    width: 40%;
    height: 42px;
    background-color: #eebbc3;
    border-radius: 10px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
  }
  
  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color:white;
    border-radius: 10px;
  }
  
  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  
  .btn-text {
    /* margin: 11px 11px 0 0; */
    margin-top: 15px;
    margin-left: 45px;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto", sans-serif;
  }
  
  .google-btn:hover {
    box-shadow: 0 0 6px #232946;
  }
  
  .google-btn:active {
    background: #1669F2;
  }