.story-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
  }
  
  .story-card {
    /* background-color: #171a21; */
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .card-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .card-title btn btn-primary{
    background-color: black;
    /* @apply text-white font-bold py-2 px-4 rounded-full bg-blue-500 hover:bg:blue-700; */
  }
  