.AddCharacter {
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  max-width: 300px;
}

.add-character-form {
  margin-top: 10px;
}

.add-character-form form {
  display: flex;
  flex-direction: column;
}

.add-character-form label,
.add-character-form input {
  margin-bottom: 10px;
}

.add-character-form button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.add-character-form button[type="submit"] {
  background-color: #007bff;
}

.add-character-form button[type="button"] {
  background-color: #dc3545;
}

.add-character-form button[type="submit"]:hover {
  background-color: #0056
}