.AddChareacter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.AddChareacter button {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.overlay_addCharacter {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-character-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 500px;
  max-width: 100%;
}

.modal-character-content h2 {
  text-align: center;
  margin-bottom: 20px;
}

.modal-character-content form {
  display: flex;
  flex-direction: column;
}

.modal-character-content form input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.modal-character-content form button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
}