@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');


.majorsection_root {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.majorsection_text {
    font-size: 38px;
    margin: 10px 0;
    font-family: 'EB Garamond', serif;  
    color: white;
}

.majorsections_Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

